<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="google-form-post"
      version="0.0.1">
    <name>GoogleFormPost</name>
    <description>GoogleFormPost Plugin</description>
    <license>MIT</license>

    <engines>
      <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="GoogleFormPost" >
                <param name="android-package" value="org.imperial.dide.GoogleFormPost"/>
            </feature>
        </config-file>

        <source-file src="src/android/GoogleFormPost.java"
            target-dir="src" />
    </platform>

</plugin>
