<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="google-form-post"
      version="0.0.1">
    <name>GoogleFormPost</name>
    <description>GoogleFormPost Plugin</description>
    <license>MIT</license>

    <engines>
      <engine name="cordova-android" version="=6.4.0" />
    </engines>

    <asset src="www/googleFormPost.js" target="js/googleFormPost.js"/>

    <js-module src="www/googleFormPost.js" name="googleFormPost">
        <clobbers target="googleFormPost" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="GoogleFormPost" >
                <param name="android-package" value="org.imperial.dide.GoogleFormPost"/>
            </feature>
        </config-file>
        <source-file src="src/main/java/org/imperial/dide/HttpRequestManager.java"
            target-dir="src" />
        <source-file src="src/main/java/org/imperial/dide/GoogleFormPost.java"
            target-dir="src" />
    </platform>

</plugin>